body {
    background-color: #546373;
    color: #FFFDD0;
    font-family: 'Oxanium', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

#chart-table {
    tr:nth-child(even) {background-color: #f2f2f252;}
}

td, th {
    padding-bottom: 5%;
    width: 90%;
    font-size: x-large;
    text-align: left;
    vertical-align: center;
    padding: 10px;
    tr:nth-child(even) {background-color: #f2f2f252;}
}


#reviewCard {
    background-color: #6D8196;
    padding: 10px;
    border-radius: 15px;
    border-color: #FFFDD0;
}

#headerLink {
    text-decoration: none;
    padding-right: 10%;
}

#guitarPicture {
    height: 300px;
    position: relative;
    z-index: -1;
}

#footer {
    padding-top: 10%;
}



input[type=text] {
    border: 2px black;
    border-radius: 8px;
    padding-top: 12px;
    margin-left: 0px;
    margin: 10px;
}

input[type=textarea] {
    width: 80%;
    border: 2px black;
    border-radius: 8px;
    padding-top: 12px;
    margin-left: 0px;
    margin: 10px;

}

button {
    background-color: #36404A;
    color: #FFFDD0;
    border-radius: 3px;
}

button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}



@media (min-width: 600px) {
  .header {grid-area: 1 / span 6;}
  .home {grid-area: 2 / span 1;}
  .content {grid-area: 2 / span 4;}
  .facts {grid-area: 3 / span 6;}
  .footer {grid-area: 4 / span 6;}
}