body {
    background-color: #DBC49F;
    font-family: 'Oxanium', sans-serif;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}


#reviewBox {
    
}

#headerLink {
    text-decoration: none;
    padding-right: 10%;
}

#guitarPicture {
    height: 300px;
    position: relative;
    z-index: -1;
}

#footer {
    padding-top: 10%;
}